In [1]:
5+6

11

In [4]:
9-2

7

This is a jupyter notebook

This is a jupyter notebook

# Shortcut

In [ ]:
Run cell -- shift + enter // ctrl + enter
adding new cell above-- a
adding new cell below-- b
delete cell -- dd
changing cell to markdown -- m
changing cell to code -- y
copy cell -- c
paste cell -- v
cut cell -- x
undo -- z

In [6]:
print("Hello world")   #is used to print anything on the screen

Hello world

In [8]:
#install library
!pip install numpy

Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (1.26.4)

In [9]:
#to use library
import numpy

In [11]:
import sys
print(sys.version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

# Keywords

Keywords are predefined words in python, which can be used for different purpose

In [13]:
import keyword
print(keyword.kwlist)   #kwlist lists all keywords in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
len(keyword.kwlist)    #is used to perform counting

35

# Comments

Comments are put for better code readability.

In [15]:
#single line comments

In [16]:
'''

Multiline

comments

'''

'\n\nMultiline\n\ncomments\n\n'

# Variables

* Variables are reserved memory location to store any value
* They are created the moment a value is assigned to it

In [17]:
x=8   #creating a variable x with value 8

In [20]:
print(x)   #printing content of x

8

In [21]:
x      #calling x & printing its value

8

# Identifiers

Identifiers are names given to entities like variables

In [22]:
#Rule 1: Identifiers should not start with a digit

In [23]:
1x=8   #wrong

SyntaxError: invalid decimal literal (2700273881.py, line 1)

In [24]:
x1=8  #correct

In [25]:
#Rule 2: Special characters cannot be added in identifiers. Only special char allowed is _(underscore)

In [27]:
x%1=10   #wrong

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3755431465.py, line 1)

In [28]:
x_1=10 #correct

In [29]:
#Rule 3: Keywords cannot be used as identifiers

In [30]:
import=10   #wrong

SyntaxError: invalid syntax (3598148329.py, line 1)

In [33]:
x=10 #correct

In [34]:
#Rule 4: Python is case sensitive language. Capital and lower case are considered different

In [35]:
var=20
VAR=15

In [36]:
print(var)

20

## Creating multiple variables together

In [39]:
name="Raju"                
age=20
city="Mumbai"

In [40]:
name,age,city="Raju",20,"Mumbai"

In [41]:
print(name,age,city)

Raju 20 Mumbai

In [42]:
a=b=c=d=e=40    #All variables are pointing to same value 40

In [43]:
print(a,b,c,d,e)

40 40 40 40 40

# Data types in Python

In [44]:
x=6
print(x)
print(type(x))
print(isinstance(x,int))
print(sys.getsizeof(x))

6
<class 'int'>
True
28

In [45]:
x=6.6
print(x)
print(type(x))
print(isinstance(x,float))
print(sys.getsizeof(x))

6.6
<class 'float'>
True
24

In [47]:
x=False
print(x)
print(type(x))
print(isinstance(x,bool))
print(sys.getsizeof(x))

False
<class 'bool'>
True
28

In [48]:
x=3-8j
print(x)
print(type(x))
print(isinstance(x,complex))
print(sys.getsizeof(x))

(3-8j)
<class 'complex'>
True
32

In [52]:
x="h"
print(x)
print(type(x))
print(isinstance(x,str))
print(sys.getsizeof(x))

h
<class 'str'>
True
50

# String

In [61]:
str1="Hello Python"
str2='Hello World'

## String Indexing

In [54]:
str1[7]

'y'

In [55]:
str1[5]

' '

In [56]:
str1[-1]

'n'

In [57]:
str1[-8]

'o'

# String Slicing

In [58]:
str1

'Hello Python'

In [59]:
str1[2:9]

'llo Pyt'

In [60]:
str1[0:6]

'Hello '

In [62]:
str1[:]

'Hello Python'

In [64]:
str1[5:]   #slices from index 5 till last char of string

' Python'

In [65]:
str1[:8]  #slices from 0 index till 7

'Hello Py'

In [66]:
str1[0:10:2]

'HloPt'

In [68]:
str1[10:0:-1]

'ohtyP olle'

In [71]:
str1[::-1]  #Reverses entire string

'nohtyP olleH'

# String Concatenation

It means to join the strings. We do this using + operator.

In [72]:
str1="Data"
str2="Science"

In [74]:
print(str1+" "+str2)

Data Science

In [75]:
'2'+'5'

'25'

# String Membership

We can check if one string is present inside another string using 2 keywords:
* in -- returns True if one string is present in another. Otherwise returns False
* not in -- returns True if one string is not present in another. Otherwise returns False

In [76]:
str1="Hello world"

In [77]:
'w' in str1

True

In [78]:
'b' in str1

False

In [80]:
'l' not in str1

False

In [81]:
'x' not in str1

True

# Built-in functions in python which can be applied on string

In [82]:
str1

'Hello world'

In [83]:
#len()-- is used to count total no. of characters in string

In [84]:
len(str1)

11

In [85]:
#count()-- counts no. of occurance of a particular character

In [86]:
str1.count('l')

3

In [87]:
#strip()--- removes whitespaces from both the ends of string

In [88]:
str2="      Hello all     "

In [92]:
str2.strip()

'Hello all'

In [93]:
str2

'      Hello all     '

In [91]:
#Note: String is immutable structure (unchangeable)

In [95]:
x=str2.strip()
x

'Hello all'

In [96]:
str2

'      Hello all     '

In [100]:
#lstrip()--removes whitespaces from left-- from beginning
#rstrip()--removes whitespaces from right-- from end

In [98]:
str2.lstrip()

'Hello all     '

In [99]:
str2.rstrip()

'      Hello all'

In [101]:
#lower()--converts all letters of string to lower case
#upper()-- conversts all letters to upper case

In [103]:
str1="HELLO WORLD"
str1.lower()

'hello world'

In [109]:
str2="good day"
str2.upper()

'GOOD DAY'

In [105]:
#islower()--- returns True if all chars in string is lower case
#isupper()--- returns True if all chars in string is upper case

In [106]:
str1.isupper()

True

In [110]:
str2.islower()

True

In [111]:
#partition()--- divides the string into 3 parts:
#1st part is part before argumented string
#2nd part is argumented string itself
#3rd part is part after argumented string

In [112]:
str1="Thank you all for your time"

In [118]:
str1.partition('for')

('Thank you all ', 'for', ' your time')

In [119]:
#split()-- by default divides string into different parts based on spaces

In [120]:
str1.split()

['Thank', 'you', 'all', 'for', 'your', 'time']

In [121]:
str1.split('o')

['Thank y', 'u all f', 'r y', 'ur time']

In [123]:
#startswith()--returns True if string starts with a partcular character
#endswith()--returns True if string ends with a partcular character

In [124]:
str2

'good day'

In [126]:
str2.startswith('G')

False

In [127]:
str2.endswith('y')

True

# Join string and numbers together

In [129]:
print("The answer of the expression is:",10)

The answer of the expression is: 10

In [133]:
print("The answer of the expression is: {} {} {}".format(10,49,12))

The answer of the expression is: 10 49 12

In [132]:
print(f"The answer of the expression is: {10}")

The answer of the expression is: 10

# Typecasting


Converting data type of one value to another data type

# 1. Autotypecasting

Data type is automatically converted to another data type by python interpreter based on some hierarchy.
Float is given highest hierarchy for type conversion

In [134]:
2+3.4+True

6.4

In [135]:
6+False

6

In [137]:
4+'3'  #strings are not involved in autotypecasting

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 2. Forced typecasting

Here data type is forecefully converted by users using some predefined functions

In [1]:
#1. int()--- where any value can be forcefully converted to int

In [2]:
int(True)

1

In [4]:
int(5.8)  #No rounding takes place

5

In [5]:
int("hi")

ValueError: invalid literal for int() with base 10: 'hi'

In [6]:
int('5')

5

In [7]:
#2. float()-- converts any value to float

In [8]:
float(6)

6.0

In [9]:
float(True)

1.0

In [10]:
float("thanks")

ValueError: could not convert string to float: 'thanks'

In [11]:
float('3')

3.0

In [12]:
#bool()-- converts any data type of boolean (True or False)
#Note: Anything apart from zero is considered as True

In [13]:
bool(0)

False

In [14]:
bool(7)

True

In [15]:
bool(3.2)

True

In [16]:
bool("hello")

True

In [17]:
#str()-- converts any value to string

In [18]:
str(4)

'4'

In [19]:
str(6.2)

'6.2'

In [20]:
str(True)

'True'

# Operators in Python

Operators are special symbols which can perform some tasks/ operations on values

## 1. Arithmetic Operators

They perform mathematical operations on values

In [21]:
#Basic Operators

In [22]:
#add
6+2

8

In [23]:
#sub
6-2

4

In [24]:
#mul
5*2

10

In [25]:
#div
5/2

2.5

In [26]:
#Advanced arithmetic operators

In [27]:
#1. %(modulus) -- is used to return remainder of division

In [28]:
25%2

1

In [29]:
#2. //(floor division) -- it returns quotient of division in round down format

In [30]:
25//2

12

In [31]:
#3. **(power) -- it returns one value raised to the power of another value

In [33]:
7**3

343

In [36]:
6+2.3*2

10.6

In [37]:
2/3+4*2-1

7.666666666666666

# Comparison Operators

Comparison operators compares 2 values and returns the result in terms of True or False

1) > -- (greater than)
2) < -- (less than)
3) >= (greater than or equal to)
4) <= (less than or equal to)
5) == (equal to)
6) != (not equal to)

In [35]:
x=12
y=5
print(x>y)
print(x>=y)
print(x<=y)
print(x<y)
print(x==y)
print(x!=y)

True
True
False
False
False
True

# Logical Operators

They are used to evaluate 2 or more comparisons

In [38]:
# and operator -- returns True if both are True

In [39]:
print(5<=3 and 6>2)

False

In [40]:
print(4>2 and 3==3)

True

In [41]:
# or operator -- returns True if atleast one value is True

In [42]:
print(7<=10 or 3<2)

True

In [43]:
print(5>10 or 3<6)

True

In [44]:
# not operator -- negates/ inverses the result

In [45]:
not(8>3)

False

In [46]:
not(6>4 and 4<3)

True

In [47]:
#Multiple operators then first preference is given to and operator

In [48]:
print(4>5 or 3<2 and 8>=2)

False

# Datetime library

In [49]:
#from library import module

In [50]:
from datetime import date

In [51]:
#create date
date1= date(2000,12,1)
print(date1)

2000-12-01

In [52]:
#today's date
today1=date.today()
print(today1)

2025-06-25

In [54]:
print(today1.year,today1.month,today1.day)

2025 6 25

In [55]:
#isoweekday()--returns day of the week --1: Monday 7:Sunday

In [56]:
today1.isoweekday()

3

In [57]:
date1.isoweekday()

5

In [58]:
#time module
from datetime import time

In [60]:
time1=time(12,20,30,56123)#h,min,second,msecond
print(time1)

12:20:30.056123

In [61]:
print(time1.hour, time1.microsecond)

12 56123

In [63]:
#datetime module

from datetime import datetime as dt

In [70]:
current=dt.now()  #prints current date & time
print(current)

2025-06-25 10:28:38.503039

In [71]:
current.strftime("%T")

'10:28:38'

In [73]:
current.strftime("%d:%m:%Y")

'25:06:2025'

In [ ]:
#Timedelta

In [76]:
from datetime import timedelta as td,date

In [75]:
#Date after 5000 days

In [77]:
today1=date.today()

In [82]:
future_date=today1+td(days=5000)
print(future_date)

2039-03-04

In [80]:
future_date.isoweekday()

5

In [83]:
#Calculate difference between 2 dates

In [84]:
date1=date(2024, 12, 8)
date2=date(2024, 12,25)

In [89]:
diff=date2-date1
print(diff)

17 days, 0:00:00

In [90]:
print(diff.days)

17